:root {
  --light: #f3efe0;
  --medium: #434242;
  --dark: #222222;
  --highlight: #22a39f;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: var(--medium);

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  width: max-content;
  margin: 0 auto;
  font-size: 4rem;
  color: var(--light);
}

.actionContainer {
  width: max-content;
  font-size: 2rem;
  font: 200;
  color: var(--light);
}

.actionContainer,
.playerTurn {
  margin: 0 auto;
  margin-top: 1rem;
}

.header {
  margin: 0 auto 4rem;
  display: flex;
  flex-direction: column;
}
.gameContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  height: 500px;

  margin: 0 auto;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  color: var(--highlight);
  border: 1px solid var(--light);

  background-repeat: no-repeat;
  background-size: 2.8rem;
  background-position: center;
}

.cell:hover {
  background-color: var(--light);
  opacity: 70%;
}

.cell:nth-of-type(1),
.cell:nth-of-type(2),
.cell:nth-of-type(3) {
  border-top: none;
}

.cell:nth-of-type(3),
.cell:nth-of-type(6),
.cell:nth-of-type(9) {
  border-right: none;
}
.cell:nth-of-type(1),
.cell:nth-of-type(4),
.cell:nth-of-type(7) {
  border-left: none;
}

.cell:nth-of-type(7),
.cell:nth-of-type(8),
.cell:nth-of-type(9) {
  border-bottom: none;
}

.reset {
  margin: 0 auto;
}

form {
  margin: 3rem auto;

  font-size: 2rem;

  display: flex;
  align-items: center;
}

.playerIcon {
  width: 3rem;
}

input {
  font-size: 1rem;
  padding: 1rem;
  background-color: var(--light);
  color: var(--dark);
  border: none;
  border-radius: 10px;
}

input:focus {
  outline: var(--light);
}

.submit,
.reset {
  font-size: 1.5rem;
  font-weight: 700;
  width: 10rem;
  height: 3rem;
  border-radius: 10px;

  background-color: var(--light);
  border: none;
  color: var(--highlight);
}

.reset {
  font-size: 0.8rem;
  width: auto;
  color: #a4233d;
}

footer {
  width: 100%;
  font-size: 2em;
  text-align: center;

  margin: 1em;
}

a {
  color: var(--light);
  text-decoration: none;
}
footer .logo {
  height: 0.8em;
}

label,
input,
.submit {
  margin: 0 1rem;
}

.submit:hover,
.reset:hover {
  cursor: pointer;
  background-color: var(--dark);
  color: var(--light);
}

.logo:hover {
  height: 1em;
  transition: 100ms ease-in-out;
}
